{% extends 'base.html.twig' %}

{% block title %}Panier index{% endblock %}

{% block body %}
    <h1>{{'Panier.Titre' |trans}} </h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{'Panier.Nom' |trans}}</th>
                <th>{{'Panier.Quantite' |trans}}</th>
                <th>{{'Panier.Prix' |trans}}</th>
                <th>{{'Panier.Montant' |trans}}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for panier in paniers %}
        <pre>
            {{ dump(panier) }}
        </pre>
                <p>{{'Panier.Utilisateur' |trans}}  {{panier.Utilisateur.Nom}} {{panier.Utilisateur.Prenom}}</p>
        {% endfor %}
            <tr>
                <td colspan="4">{{'Panier.Aucun' |trans}}  </td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{path('achat_panier')}}">{{'Panier.Achat' |trans}} </a>
{% endblock %}
