{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
    <h1>Panier</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ panier.id }}</td>
            </tr>
            <tr>
                <th>Date d'achat</th>
                <td>{{ panier.DateAchat ? panier.DateAchat|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ panier.Etat ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('panier_index') }}">retour à la liste des paniers</a>

    <a href="{{ path('panier_edit', {'id': panier.id}) }}">Editer le panier</a>

    {{ include('panier/_delete_form.html.twig') }}
{% endblock %}
