{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Liste des produits</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Stock</th>
                <th>Photo</th>
                
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td><a href="{{path('produit_show', {'id':produit.id})}}">{{ produit.Nom }}</a></td>
                <td>{{ produit.Description }}</td>
                <td>{{ produit.Prix }}</td>
                <td>{{ produit.Stock }}</td>
                <td><img src="{{ asset('/uploads/' ~ produit.photo) }}"></td>
                
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun produit existants</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('produit_new') }}">Creer un nouveau produit</a>
{% endif %}
{% endblock %}
