{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <h1>{{'Produit.Produit'|trans}}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{'Produit.Nom' |trans}} </th>
                <td>{{ produit.Nom }}</td>
            </tr>
            <tr>
                <th>{{'Produit.Description' |trans}} </th>
                <td>{{ produit.Description }}</td>
            </tr>
            <tr>
                <th>{{'Produit.Prix' |trans}} </th>
                <td>{{ produit.Prix }} €</td>
            </tr>
            <tr>
                <th>{{'Produit.Stock' |trans}} </th>
                <td>{{ produit.Stock }}</td>
            </tr>
            <tr>
                <th>{{'Produit.Photo' |trans}} </th>
                <td><img src="{{ asset('/uploads/' ~ produit.photo) }}"></td>
            </tr>
            <tr>
        </tbody>
    </table>
    {% if is_granted('ROLE_USER') %}
    <button class="btn btn-outline-secondary"><a href="{{path('add', {'id':produit.id})}}">{{'Produit.Ajout' |trans}}</a></button>
<br>
    {% endif %}
<button class="btn btn-outline-secondary"><a href="{{ path('produit_index') }}">{{'Produit.Retour' |trans}}</a></button>
{% if is_granted('ROLE_ADMIN') %}
    <button class="btn btn-outline-secondary"><a href="{{path('produit_edit', {'id':produit.id})}}">{{'Produit.Edit' |trans}}</a></button>
    {{ include('produit/_delete_form.html.twig') }}
{% endif %}


{% endblock %}
